@model Category

@{
    ViewBag.MainTitle = "Category Management";
    ViewBag.SubTitle = "Details ";
}


<h1>@ViewBag.Title</h1>

<table class="table table-hover table-borderd">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created Time</th>
    </tr>
     <tr>
        <th>@Model.Id</th>
        <th>@Model.Name</th>
        <th>@Model.Description</th>
        <th>@Model.CreatedAt</th>
    </tr>
</table>
<br />
<br />
<a asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="btn btn-danger"
onClick="return confirm('Are You Sure You Want To Delete This Item ?');"
>ConfirmDelete</a>
<a asp-action="Index" class="btn btn-warning">Back to List</a>
